img{
    width:50%;
}

@media only screen and (max-width: 700px){
    img{
        width:100%;
    }

    p{
        color:rgb(255, 0, 64);
    }

}

@media only screen and (max-width: 500px){
    p{
        color:black;
    }
}